.marketing-card {
    border-radius: 8px;
  }
  
  .select-time-period {
    border: none;
    background-color: #9c9c9c7d;
    font-size: 0.875rem;
    color: #d6d6d6;
    border-radius: 20px;
    outline: none;
    padding: 5px;
  }
  
  .chart-container {
    position: relative;
    height: 200px;
    width: 200px;
    margin: 0 auto 43px;
  }
  
  .legend-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .legend-color {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
  }
  
  .legend-label {
    color: #A6A8B1;
    font-size: 11px;
  }
  
  .legend-color.acquisition {
    background-color: #A2D2FF;
  }
  
  .legend-color.purchase {
    background-color: #6B73FF;
  }
  
  .legend-color.retention {
    background-color: #FFD700;
  }
  