.dashboard {
  padding: 20px;
  background-color: #f8f9fa;
  flex: 1;
}
.card{
  border-radius: 12px;
  border: none;
  background-color: #1f2029;
}
.card-one{
  height: 150px;
}
.prodCard{
  background-color: #5570F1;
}
select{
  background: transparent;
  border: none;
  color: #BEC0CA;
}
.select-sales{
  background-color: #5570F11F;
  color: #5570F1;
  width: 99px;
  height: 30px;
  padding: 3px 10px 5px 6px;
  border-radius: 8px;
}
.icon-container1{
  display: grid;
  place-items: center;
  background-color: #0d6efd6b;
  color: #0d6efd;
  width: 36px;
  height: 36px;
  border-radius: 8px;
}
.icon-container2{
  display: grid;
  place-items: center;
  background-color: #1987547a;
    color: #198754;
  width: 36px;
  height: 36px;
  border-radius: 8px;
}
.icon-container3{
  display: grid;
  place-items: center;
  background-color: #dc354578;
    color: #dc3545;
  width: 36px;
  height: 36px;
  border-radius: 8px;
}
.icon-container4{
  display: grid;
  place-items: center;
  background-color: #ffc10770;
  color: #ffc107;
  width: 36px;
  height: 36px;
  border-radius: 8px;
}
.cardIcon{
  width: 20px;
  height: 20px;
}
.font-one{
font-family: Poppins;
font-size: 20px;
font-weight: 500;
color: #45464E;
}
.text-muted{
  color: #8B8D97;
}
.font-small{
  font-size: 12px;
  color: #DBDEEE;
}
.font-14{
  font-size: 14px;
}
.font-20{
  font-size: 20px;
}
small{
  font-size: 12px;
}
.card-heading{
  font-family: Inter, Sans-Serif;
  font-size: 16px;
  font-weight: 500;
  color: #45464E;
}

.order-summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
}
.prod-img{
  width: 49px;
  height: 49px;
  border-radius: 8px;
  border: 1px solid #F1F3F9;
}
.prod-name{
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  font-weight: 500;

}
.prod-price{
  font-size: 14px;
  font-weight: 500;
  color: #33343A;
}
.purchase-on{
  font-size: 12px;
  font-weight: 400;
  color: #45464E;
}
.badge.bg-danger{
  background-color: #F57E771F !important;
  color: #CC5F5F;
}
.badge.bg-success{
  background-color: #32936F1F !important;
  color: #519C66;
}
.bar-container{
  width: 760px; height: 300px;overflow-x: auto;
}
.table {
 --bs-table-bg: transparent !important;
}

.avatar i {
  font-size: 60px;
  color: #6c757d;
}

.username {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.stars i {
  color: #ffc107;
  margin: 0 2px;
  font-size: 16px;
}

.message {
  color: #a1a1a1;
  font-size: 12px;
}
.dive-ico1{
  background: #ff484875;
    color: red;
    display: grid;
    place-items: center;
    padding: 9px;
    border-radius: 50%;
    width: 48px;
}
.dive-ico2{
  background: #0d6efd73;
  color: #0d6efd;
    display: grid;
    place-items: center;
    padding: 9px;
    border-radius: 50%;
    width: 48px;
}
.dive-ico3{
  background: #1987547a;
  color: #198754;
    display: grid;
    place-items: center;
    padding: 9px;
    border-radius: 50%;
    width: 48px;
}
.dive-in{
  background: #898989;
    border-radius: 50%;
    color: white;
    height: 25px;
    width: 25px;
    display: grid;
    place-items: center;
}
.dive-in i{
  font-size: 15px;
}
.Feeback-box{
  border-bottom: 1px solid #F1F3F9;
  margin-bottom: 12px;
}
.header-ico{
  background: #bcbcbc87;
    border-radius: 50%;
    color: #c6c6c6;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
}