
.filter-scroll{
    gap: 10px;
}
.filter-box{
    width: 310px;
}
.btn-primary{
    background: #5570F1;
    border-radius: 12px;
    display: flex;
    align-items: center;
}
.input-group-text {
    background-color: white;
}
.input-group {
    width: max-content !important;
}
.btn-outline-secondary{
    border: none !important;
    background: white !important;
    color: #53545C !important;
}
.filter-button{
    border: 1px solid #53545C;
    border-radius: 6px;
}
.border-r{
    border-right: none;
}
.border-l{
    border-left: none;
}
.b-none{
    border: none;
}
.fw-6{
    font-weight: 600;
}
.font-12{
    font-size: 12px;
}
.action-bx{
    background-color: #5E636614 !important;
    border-radius: 12px;
}
.badge.bg-primary{
    background-color: #5570F129 !important;
    color: #5570F1;
}
.badge.bg-warning{
    background-color: #FFCC9129 !important;
    color: #FFCC91;
}

@media (max-width: 1024px){
    .box-none{
        display: none;
    }
    .x-scroll{
        overflow-x: auto;
    }
}
