

.sidebar-header {
  display: grid;
  place-items: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 40px;
}

.sidebar-menu {
  list-style-type: none;
  padding: 0;
}
a{
  text-decoration: none !important;
}
.sidebar-menu i{
  font-size: 24px;
  font-weight: 600;
}
.menu-item {
  padding: 16px 20px 16px 20px;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  display: grid;
  place-items: center;
  color: #53545C;
}

.menu-item.active {
  border-left: 5px solid #5570F1;
  color: #5570F1;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.support-btn,
.upgrade-btn,
.logout-btn {
  padding: 16px 20px 16px 20px;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;
  color: #000000;
  display: grid;
    place-items: center;
  margin-bottom: 10px;
}

.logout-btn .text-danger {
  color: #FF0000;
}
